.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.resumeContainer {
  margin: 0 auto;
  box-sizing: border-box;
  // padding: 0.3in;
  width: 8.3in;
  height: 12in;
  background-color: rgb(250, 255, 255);
  // box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7); 
  background: green;
}